@charset "UTF-8";

.size-20{
  width:20px;
  height:20px;
}   
.image_wrap{
  width: 100%;
  height: 100%;
}
.cart-table {
  width: 100%;
  border-collapse: separate;
  text-align:center;
}

.image_size {
  width: 100px;
  height: 100px;
  
}

.wrapper {
  margin: 0 10%;  
}
.cart-title{
  margin-top: 20px;
 }
.cart-noPrdt {
  padding: 150px;
  display: flex;
  justify-content: center;
}
.cart-prdt {
 padding-top: 50px; 
 padding-bottom: 50px; 
}
 .cart-top {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.cart-floating {
  position: fixed;
  width: 100%;
  height: 95px;
  bottom: 0;
  background-color: black;
  color: white;
  transition: visibility 0s, opacity 0.2s linear;
}

.order-area {
  width: 100%;
  text-align:center;
    display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.order-area span:last-child {
  margin-right: 30px;
}


.cart-floating.hidden {
  visibility: hidden;
  opacity: 0;
}

.qty_input {
  width: 50px;
}
.qty_modify_btn {
  margin-top: 10px;
  font-size: 13px;
  background-color: black;
  color: white;
}
.order-area {
  font-size: 25px;
  
}

.bottom-space {
  height: 100px;
  width: 100%;
}



