<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.withmall.dao.AdminMapper">


  <resultMap type="ProductDto" id="ProductMap">
    <id column="PRDT_NUM" property="prdtNum"/>
      <result column="PRDT_NAME" property="prdtName"/>
      <result column="PRDT_TITLE" property="prdtTitle"/>
      <result column="PRDT_INFO" property="prdtInfo"/>
      <result column="PRDT_REAL_PRICE" property="prdtRealPrice"/>
      <result column="PRDT_STOCK" property="prdtStock"/>
      <result column="PRDT_HIT" property="prdtHit"/>
      <association javaType="ProductCategoryDto" property="categoryDto">
        <id column="CATEGORY_NUM" property="categoryNum"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
     </association>
  </resultMap>
  
  
  <!-- 제품목록 가져오기 -->
  <select id="getPrdtCount" resultType="int">
    SELECT COUNT(*)
      FROM PRODUCT 
  </select>
  
  
  <select id="getPrdtList" parameterType="Map" resultMap="ProductMap">
    SELECT A.PRDT_NUM, A.PRDT_NAME, A.PRDT_REAL_PRICE, A.PRDT_STOCK, A.FILESYSTEM_NAME
    FROM (SELECT ROW_NUMBER() OVER (ORDER BY P.PRDT_NUM DESC) AS RN, P.PRDT_NUM, P.PRDT_NAME, P.PRDT_REAL_PRICE, P.PRDT_STOCK, PI.FILESYSTEM_NAME
            FROM PRODUCT P LEFT JOIN PRODUCT_IMAGE PI 
              ON P.PRDT_NUM = PI.PRDT_NUM) A
    WHERE A.RN BETWEEN #{begin} AND #{end}
  </select>
  

  
  
</mapper>
