<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.withmall.dao.CartMapper">

  <!-- 장바구니 목록 (장바구니의 정보를 저장하는 resultMap) -->
  <resultMap id="CartMap" type="CartDto" >
    <id column="CART_NUM" property="cartNo"/>
    <result column="PRDT_NUM" property="prdtNum"/>
    <result column="NUM" property="num"/>
    <result column="PRDT_QTY" property="prdtQty"/>
  </resultMap>
  
  <!-- 제품 목록 -->
  
  
  <!-- 장바구니 정보 조회 -->
  <select id="getCartList" resultMap="CartMap">
    
  </select>
  
</mapper>