<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.withmall.dao.MainMapper">

  <!-- 제품 resultmap -->
  <resultMap type="ProductDto" id="ProductMap">
    <id     column="PRDT_NUM"        property="prdtNum" />
    <result column="PRDT_NAME"       property="prdtName" />
    <result column="PRDT_TITLE"      property="prdtTitle" />
    <result column="PRDT_INFO"       property="prdtInfo" />
    <result column="PRDT_REAL_PRICE" property="prdtRealPrice" />
    <result column="PRDT_STOCK"      property="prdtStock" />
    <result column="PRDT_HIT"        property="prdtHit" />
    <association javaType="ProductCategoryDto" property="categoryDto">
      <id     column="CATEGORY_NUM"    property="categoryNum" />
      <result column="CATEGORY_NAME"   property="categoryName" />
    </association>
  </resultMap>
  
  <!-- 제품이미지 resultmap(제품 전부 있음) -->
  <resultMap type="ProductImageDto" id="ProductImageMap">
    <result column="IMAGE_PATH"        property="imagePath" />
    <result column="FILESYSTEM_NAME"   property="filesystemName" />
    <association javaType="ProductDto" property="productDto">
      <id     column="PRDT_NUM"        property="prdtNum" />
	    <result column="PRDT_NAME"       property="prdtName" />
	    <result column="PRDT_TITLE"      property="prdtTitle" />
	    <result column="PRDT_INFO"       property="prdtInfo" />
	    <result column="PRDT_REAL_PRICE" property="prdtRealPrice" />
	    <result column="PRDT_STOCK"      property="prdtStock" />
	    <result column="PRDT_HIT"        property="prdtHit" />
	    <association javaType="ProductCategoryDto" property="categoryDto">
	      <id     column="CATEGORY_NUM"    property="categoryNum" />
	      <result column="CATEGORY_NAME"   property="categoryName" />
	    </association>
    </association>
  </resultMap>
  
    <!-- 찜 resultmap -->
  <resultMap type="ZzimDto" id="ZzimMap">
    <id column="ZZIM_NUM"        property="zzimNum" />
    <association javaType="MemberDto" property="memberDto">
      <id     column="NUM"           property="num" />
      <result column="NAME"          property="name" />
      <result column="PW"            property="pw" />
      <result column="MOBILE"        property="mobile" />
      <result column="EMAIL"         property="email" />
      <result column="POSTCODE"      property="postcode" />
      <result column="JIBUNADDRESS"  property="jibunaddress" />
      <result column="ROADADDRESS"   property="roadaddress" />
      <result column="DETAILADDRESS" property="detailaddress" />
      <result column="BIRTH"         property="birth" />
      <result column="GENDER"        property="gender" />
      <result column="MDATE"         property="mdate" />
      <result column="AUTH"          property="auth" />
      <result column="STATUS"        property="status" />
      <result column="REG_DATE"      property="regDate" />
    </association>
    <association javaType="ProductDto" property="productDto">
      <id     column="PRDT_NUM"        property="prdtNum" />
      <result column="PRDT_NAME"       property="prdtName" />
      <result column="PRDT_TITLE"      property="prdtTitle" />
      <result column="PRDT_INFO"       property="prdtInfo" />
      <result column="PRDT_REAL_PRICE" property="prdtRealPrice" />
      <result column="PRDT_STOCK"      property="prdtStock" />
      <result column="PRDT_HIT"        property="prdtHit" />
      <association javaType="ProductCategoryDto" property="categoryDto">
        <id     column="CATEGORY_NUM"    property="categoryNum" />
        <result column="CATEGORY_NAME"   property="categoryName" />
      </association>
    </association>
  </resultMap>
  
  <resultMap type="CpIssueDto" id="CpIssueMap">
    <result column="CP_USE" property="cpUse" />
    <association javaType="MemberDto" property="memberDto">
      <id     column="NUM"           property="num" />
      <result column="NAME"          property="name" />
      <result column="PW"            property="pw" />
      <result column="MOBILE"        property="mobile" />
      <result column="EMAIL"         property="email" />
      <result column="POSTCODE"      property="postcode" />
      <result column="JIBUNADDRESS"  property="jibunaddress" />
      <result column="ROADADDRESS"   property="roadaddress" />
      <result column="DETAILADDRESS" property="detailaddress" />
      <result column="BIRTH"         property="birth" />
      <result column="GENDER"        property="gender" />
      <result column="MDATE"         property="mdate" />
      <result column="AUTH"          property="auth" />
      <result column="STATUS"        property="status" />
      <result column="REG_DATE"      property="regDate" />
    </association>
    <association javaType="CpDto" property="cpDto">
      <id column="CP_NUM" property="cpNum" />
      <result column="CP_NAME"  property="cpName" />
      <result column="CP_INFO"  property="cpInfo" />
      <result column="CP_PRICE" property="cpPrice" />
      <result column="CP_MIN"   property="cpMin" />
      <result column="START_AT" property="startAt" />
      <result column="END_AT"   property="endAt" />
    </association>
  </resultMap>
  
  <select id="getProductList" resultMap="ProductMap">
    SELECT PRDT_NUM, PRDT_NAME, PRDT_TITLE, PRDT_INFO, PRDT_REAL_PRICE, PRDT_STOCK, PRDT_HIT, C.CATEGORY_NUM, CATEGORY_NAME
      FROM PRODUCT P INNER JOIN PRODUCT_CATEGORY C
        ON P.CATEGORY_NUM = C.CATEGORY_NUM
  </select>
  
  <select id="getProductTotalList" resultMap="ProductImageMap">
    SELECT IMAGE_PATH, FILESYSTEM_NAME, P.PRDT_NUM, PRDT_NAME, PRDT_TITLE, PRDT_INFO, PRDT_REAL_PRICE, PRDT_STOCK, PRDT_HIT, C.CATEGORY_NUM, CATEGORY_NAME
		  FROM PRODUCT_IMAGE I, PRODUCT P, PRODUCT_CATEGORY C
		 WHERE I.PRDT_NUM = P.PRDT_NUM
		   AND P.CATEGORY_NUM = C.CATEGORY_NUM
  </select>
  
  <select id="getProductTotalListByCategory" parameterType="Map" resultMap="ProductImageMap">
	  SELECT IMAGE_PATH, FILESYSTEM_NAME, P.PRDT_NUM, PRDT_NAME, PRDT_TITLE, PRDT_INFO, PRDT_REAL_PRICE, PRDT_STOCK, PRDT_HIT, C.CATEGORY_NUM, CATEGORY_NAME
	    FROM PRODUCT_IMAGE I INNER JOIN PRODUCT P 
	      ON I.PRDT_NUM = P.PRDT_NUM INNER JOIN PRODUCT_CATEGORY C 
	      ON P.CATEGORY_NUM = C.CATEGORY_NUM
	   WHERE CATEGORY_NAME = #{categoryName}
	   <if test="orderBy != null">
	     ORDER BY
	    <choose>
	      <!-- 최신순 -->
	      <when test="orderBy == 'new'">
	        P.PRDT_NUM DESC
	      </when>
	      <!-- 조회순 -->
	      <when test="orderBy == 'hit'">
	        P.PRDT_HIT DESC
	      </when>
	      <!-- 높은가격순 -->
	      <when test="orderBy == 'topPrice'">
	        P.PRDT_REAL_PRICE DESC
	      </when>
	      <!-- 낮은가격순 -->
	      <when test="orderBy == 'lowPrice'">
	        P.PRDT_REAL_PRICE ASC
	      </when>
	    </choose>
	  </if>
	</select>
  
  <select id="getProductHitTop10List" resultMap="ProductImageMap">
    SELECT IMAGE_PATH, FILESYSTEM_NAME, PRDT_NUM, PRDT_NAME, PRDT_TITLE, PRDT_INFO, PRDT_REAL_PRICE, PRDT_STOCK, PRDT_HIT, CATEGORY_NUM, CATEGORY_NAME
		  FROM ( SELECT ROW_NUMBER() OVER(ORDER BY P.PRDT_HIT DESC) AS RN, IMAGE_PATH, FILESYSTEM_NAME, P.PRDT_NUM, PRDT_NAME, PRDT_TITLE, PRDT_INFO, PRDT_REAL_PRICE, PRDT_STOCK, PRDT_HIT, C.CATEGORY_NUM, CATEGORY_NAME
		           FROM PRODUCT_IMAGE I, PRODUCT P, PRODUCT_CATEGORY C
		          WHERE I.PRDT_NUM = P.PRDT_NUM
		            AND P.CATEGORY_NUM = C.CATEGORY_NUM)
		 WHERE RN BETWEEN 1 AND 10
  </select>
  
  <!-- 회원이 가지고 있는 쿠폰 리스트 -->
  <select id="getHasCouponList" parameterType="int" resultType="CpDto">
    SELECT CP.CP_NUM, CP.CP_NAME, CP.CP_INFO, CP.CP_PRICE, CP.CP_MIN, CP.START_AT, CP.END_AT
		  FROM MEMBER M INNER JOIN CP_ISSUE CI 
		    ON M.NUM = CI.NUM INNER JOIN CP 
		    ON CI.CP_NUM = CP.CP_NUM
		 WHERE M.NUM = #{num}
		 ORDER BY CP_NUM
  </select>
    
  <!-- 회원이 가지고 있지 않은 쿠폰 리스트 -->
  <select id="getDontHaveCouponList" parameterType="int" resultType="CpDto">
    SELECT CP.CP_NUM, CP.CP_NAME, CP.CP_INFO, CP.CP_PRICE, CP.CP_MIN, CP.START_AT, CP.END_AT
		  FROM CP
		 WHERE CP.CP_NUM NOT IN (SELECT CP_NUM
		                           FROM MEMBER M INNER JOIN CP_ISSUE CI 
		                             ON M.NUM = CI.NUM
		                          WHERE M.NUM = #{num})
		 ORDER BY CP_NUM
  </select>
    
  <!-- 회원 쿠폰 발급 -->
  <insert id="addMemberCoupon" parameterType="CpIssueDto">
    INSERT INTO CP_ISSUE(
      CP_USE
    , NUM
    , CP_NUM
    ) VALUES (
      1
    , #{memberDto.num}
    , #{cpDto.cpNum}
    )
  </insert>
  
  <!-- 사용하지않은 제품 사용 -->
  <select id="getUnusedCouponList" parameterType="int" resultType="CpDto">
    SELECT CI.CP_NUM, C.CP_NAME, C.CP_INFO, C.CP_PRICE, C.CP_MIN, C.START_AT, C.END_AT
		  FROM CP C INNER JOIN CP_ISSUE CI
		    ON C.CP_NUM = CI.CP_NUM
		 WHERE CI.CP_USE = 1 AND CI.NUM = #{num}
  </select>
  
  <!-- 찜한 제품 가져오기 -->
  <select id="getZzimProductList" parameterType="int" resultMap="ProductImageMap">
    SELECT IMAGE_PATH, FILESYSTEM_NAME, P.PRDT_NUM, PRDT_NAME, PRDT_TITLE, PRDT_INFO, PRDT_REAL_PRICE, PRDT_STOCK, PRDT_HIT, C.CATEGORY_NUM, CATEGORY_NAME
		  FROM PRODUCT_IMAGE I, PRODUCT P, PRODUCT_CATEGORY C
		 WHERE I.PRDT_NUM = P.PRDT_NUM
		   AND P.CATEGORY_NUM = C.CATEGORY_NUM
		   AND P.PRDT_NUM IN (SELECT PRDT_NUM
		                        FROM ZZIM
		                       WHERE NUM = #{num})
  </select>
  
</mapper>