<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.withmall.dao.MemberMapper">

   <!-- 사용자 정보 삽입 쿼리 -->
   <insert id="insertMember" parameterType="MemberDto">
    INSERT INTO MEMBER (
   		NUM,
   		NAME,
   		PW,
   		CELL,
   		EMAIL,
   		POSTCODE,
   		JIBUNADDRESS,
   		ROADADDRESS,
   		DETAILADDRESS,
   		BIRTH,
   		GENDER,
   		MDATE,
   		AUTH,
   		REG_DATE
    ) VALUES (
   		MEMBER_SEQ.NEXTVAL
   	   ,#{name}
   	   ,#{pw}
   	   ,#{cell}
   	   ,#{email}
   	   ,#{postcode}
   	   ,#{jibunaddress}
   	   ,#{roadaddress}
   	   ,#{detailaddress}
   	   ,#{birth}
   	   ,#{gender}
   	   ,SYSDATE
   	   ,#{auth}
   	   ,SYSDATE
   )
   </insert>
    <insert id="insertNaverMember" parameterType="MemberDto">
	 INSERT INTO MEMBER (
	   		NUM,
	   		NAME,
	   		CELL,
	   		EMAIL,
	   		GENDER,
	   		MDATE,
	   		AUTH,
	   		REG_DATE
	   ) VALUES (
	   		MEMBER_SEQ.NEXTVAL
	   	   ,#{name}
	   	   ,#{cell}
	   	   ,#{email}
	   	   ,#{gender}
	   	   ,SYSDATE
	   	   ,2
	   	   ,SYSDATE
	   )
    </insert>
  
  

</mapper>
