<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.withmall.dao.SupportMapper">
  <!-- 공지사항 갯수 -->
  <select id="getSupportCount" resultType="int">
    SELECT COUNT(*)
      FROM BOARD_ANNOUNCE
  </select>
  <!-- 공지사항 목록 -->
   <select id="getSupportList" parameterType="Map" resultType="SupportDto">
    SELECT A.ANN_NUM, A.ANN_TITLE, A.ANN_CONTENT, A.ANN_FILE, A.ANN_DATE
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY ANN_NUM DESC) AS RN, ANN_NUM, ANN_TITLE, ANN_CONTENT, ANN_FILE, ANN_DATE
              FROM BOARD_ANNOUNCE) A
     WHERE A.RN BETWEEN #{begin} AND #{end}
  </select>
   
     <!-- 상세보기 -->
   
   <select id="getSupport" parameterType="int" resultType="SupportDto">
    SELECT ANN_NUM, ANN_TITLE, ANN_CONTENT, ANN_FILE, ANN_DATE
      FROM BOARD_ANNOUNCE
     WHERE ANN_NUM = #{annNum}
  </select>
   
     <insert id="addSupport" parameterType="SupportDto">
     <!--keyProperty="annNum"걸 불러다가 쓸수 있음 -->
    <selectKey order="BEFORE" resultType="int" keyProperty="annNum">
      SELECT BOARD_ANNOUNCE_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO BOARD_ANNOUNCE (
        ANN_NUM
      , ANN_TITLE
      , ANN_CONTENT
      , ANN_FILE
      , ANN_DATE
    ) VALUES (
        #{annNum}
      , #{annTitle}
      , #{annContent}
      , #{annFile}
      , SYSDATE
    ) 
  </insert>
   
   
   
   
   
   
</mapper>