<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
  <!-- 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  
 <typeAliases>
    <typeAlias alias="MemberDto"           type="kr.co.withmall.dto.MemberDto"/>
    <typeAlias alias="CartDto"             type="kr.co.withmall.dto.CartDto"/>
    <typeAlias alias="CpDto"               type="kr.co.withmall.dto.CpDto"/>
    <typeAlias alias="CpIssueDto"          type="kr.co.withmall.dto.CpIssueDto"/>
    <typeAlias alias="ProductDto"          type="kr.co.withmall.dto.ProductDto"/>
    <typeAlias alias="ProductCategoryDto"  type="kr.co.withmall.dto.ProductCategoryDto"/>
    <typeAlias alias="ProductImageDto"     type="kr.co.withmall.dto.ProductImageDto"/>
    <typeAlias alias="SupportDto"     type="kr.co.withmall.dto.SupportDto"/>
  </typeAliases>

</configuration>