<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
  <!-- 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
    <typeAlias alias="PrdtImageDto"  type="kr.co.withmall.dto.PrdtImageDto"/>
    <typeAlias alias="ProductCategoryDto"  type="kr.co.withmall.dto.ProductCategoryDto"/>
    <typeAlias alias="ProductDto"  type="kr.co.withmall.dto.ProductDto"/>
    <typeAlias alias="MemberDto"  type="kr.co.withmall.dto.MemberDto"/>
    <typeAlias alias="CartDto"  type="kr.co.withmall.dto.CartDto"/>
  </typeAliases>

</configuration>